CASE_simple_example/.aadlbin-gen
CASE_simple_example/AADL/.aadlbin-gen
CASE_simple_example/AADL/instances
CASE_simple_example/AADL/json-generated
.DS_Store
*~

*Theory.sml
*Theory.sig
*Theory.uo
*Theory.ui
*Theory.dat

**/target/**
**/splat/splat
**/splat/.HOLMK
**/splat/.hollogs
.aadlbin-gen

json-generated

caseAttestationDemo

bin

.settings
.#*
bin
instances
.DS_Store
*.sacm
.svn
.#*
.sw?
TAGS
.aadlbin-gen
*~
.sw?
.DS_Store
*.class
*~HEAD
target

\#*\#

*.xtendbin
*._trace
