<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <menu
               id="com.collins.fmw.cyres.menus.outline.main"
               label="CASE">
            <menu
                  id="com.collins.fmw.cyres.menus.outline.requirements"
                  label="Cyber Requirements">
               <menu
                     id="com.collins.fmw.cyres.menus.outline.requirements.generate"
                     label="Generate Requirements">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.outline.requirements.generate.gearcase"
                        label="GearCase"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="GearCase">
                     </parameter>
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.outline.requirements.generate.dcrypps"
                        label="DCRYPPS"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="DCRYPPS">
                     </parameter>
                  </command>
               </menu>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ImportRequirements"
                     id="com.collins.fmw.cyres.menus.outline.requirements.import"
                     label="Import Requirements..."
                     style="push">
               </command>
               <separator
                     name="architecture.plugin.requirements.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.FormalizeRequirement"
                     id="com.collins.fmw.cyres.menus.outline.requirements.formalize"
                     label="Formalize Requirement"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.outline.resiliency"
                  label="Cyber Resiliency">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ModelAnnotations"
                     id="com.collins.fmw.cyres.menus.outline.resiliency.ModelAnnotations"
                     label="Model Annotations..."
                     style="push">
               </command>
               <menu
                     id="com.collins.fmw.cyres.menus.outline.resiliency.transformations"
                     label="Model Transformations">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddAttestationManager"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.AddAttestationManager"
                        label="Add Attestation Manager..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddFilter"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.AddFilter"
                        label="Add Filter..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddIsolator"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.AddIsolator"
                        label="Add Isolator..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddMonitor"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.AddMonitor"
                        label="Add Monitor..."
                        style="push">
                  </command>
                  <command
                        commandId="om.collins.fmw.cyres.architecture.commands.AddSimplex"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.AddSimplex"
                        label="Add Simplex Architecture"
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.seL4Transform"
                        id="com.collins.fmw.cyres.menus.outline.resiliency.transformations.seL4Transform"
                        label="Transform for seL4 build"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="com.collins.fmw.cyres.menus.outline.resiliency.proofs"
                     label="Proofs">
               </menu>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.outline.component"
                  label="Component Analysis">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.SelectImplementation"
                     id="com.collins.fmw.cyres.menus.outline.component.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.VerifyImplementation"
                     id="com.collins.fmw.cyres.menus.outline.component.RunIvaldi"
                     label="Run Ivaldi"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.outline.build"
                  label="System Build">
               <command
                     commandId="com.collins.fmw.cyres.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.collins.fmw.cyres.menus.menubar.main"
               label="CASE">
            <menu
                  id="com.collins.fmw.cyres.menus.menubar.requirements"
                  label="Cyber Requirements">
               <menu
                     id="com.collins.fmw.cyres.menus.menubar.requirements.generate"
                     label="Generate Requirements">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.menubar.requirements.generate.gearcase"
                        label="GearCase"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="GearCase">
                     </parameter>
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.menubar.requirements.generate.dcrypps"
                        label="DCRYPPS"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="DCRYPPS">
                     </parameter>
                  </command>
               </menu>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ImportRequirements"
                     id="com.collins.fmw.cyres.menus.menubar.requirements.import"
                     label="Import Requirements..."
                     style="push">
               </command>
               <separator
                     name="architecture.plugin.requirements.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.FormalizeRequirement"
                     id="com.collins.fmw.cyres.menus.menubar.requirements.formalize"
                     label="Formalize Requirement"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.menubar.resiliency"
                  label="Cyber Resiliency">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ModelAnnotations"
                     id="com.collins.fmw.cyres.menus.menubar.resiliency.ModelAnnotations"
                     label="Model Annotations..."
                     style="push">
               </command>
               <menu
                     id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations"
                     label="Model Transformations">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddAttestationManager"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.AddAttestationManager"
                        label="Add Attestation Manager..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddFilter"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.AddFilter"
                        label="Add Filter..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddIsolator"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.AddIsolator"
                        label="Add Isolator..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddMonitor"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.AddMonitor"
                        label="Add Monitor..."
                        style="push">
                  </command>
                  <command
                        commandId="om.collins.fmw.cyres.architecture.commands.AddSimplex"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.AddSimplex"
                        label="Add Simplex Architecture"
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.seL4Transform"
                        id="com.collins.fmw.cyres.menus.menubar.resiliency.transformations.seL4Transform"
                        label="Transform for seL4 build"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="com.collins.fmw.cyres.menus.menubar.resiliency.proofs"
                     label="Proofs">
               </menu>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.menubar.component"
                  label="Component Analysis">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.SelectImplementation"
                     id="com.collins.fmw.cyres.menus.menubar.component.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.VerifyImplementation"
                     id="com.collins.fmw.cyres.menus.menubar.component.RunIvaldi"
                     label="Run Ivaldi"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.menubar.build"
                  label="System Build">
               <command
                     commandId="com.collins.fmw.cyres.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="popup:org.osate.ge.editor.AgeDiagramEditor?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.collins.fmw.cyres.architecture.commands.AddFilter"
                  id="com.collins.fmw.cyres.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.collins.fmw.cyres.architecture.commands.AddMonitor"
                  id="com.collins.fmw.cyres.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               id="com.collins.fmw.cyres.menus.editor.main"
               label="CASE">
            <menu
                  id="com.collins.fmw.cyres.menus.editor.requirements"
                  label="Cyber Requirements">
               <menu
                     id="com.collins.fmw.cyres.menus.editor.requirements.generate"
                     label="Generate Requirements">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.editor.requirements.generate.gearcase"
                        label="GearCase"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="GearCase">
                     </parameter>
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
                        id="com.collins.fmw.cyres.menus.editor.requirements.generate.dcrypps"
                        label="DCRYPPS"
                        style="push">
                     <parameter
                           name="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
                           value="DCRYPPS">
                     </parameter>
                  </command>
               </menu>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ImportRequirements"
                     id="com.collins.fmw.cyres.menus.editor.requirements.import"
                     label="Import Requirements..."
                     style="push">
               </command>
               <separator
                     name="architecture.plugin.requirements.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.FormalizeRequirement"
                     id="com.collins.fmw.cyres.menus.editor.requirements.formalize"
                     label="Formalize Requirement"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.editor.resiliency"
                  label="Cyber Resiliency">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.ModelAnnotations"
                     id="com.collins.fmw.cyres.menus.editor.resiliency.ModelAnnotations"
                     label="Model Annotations..."
                     style="push">
               </command>
               <menu
                     id="com.collins.fmw.cyres.menus.editor.resiliency.transformations"
                     label="Model Transformations">
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddAttestationManager"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.AddAttestationManager"
                        label="Add Attestation Manager..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddFilter"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.AddFilter"
                        label="Add Filter..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddIsolator"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.AddIsolator"
                        label="Add Isolator..."
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.AddMonitor"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.AddMonitor"
                        label="Add Monitor..."
                        style="push">
                  </command>
                  <command
                        commandId="om.collins.fmw.cyres.architecture.commands.AddSimplex"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.AddSimplex"
                        label="Add Simplex Architecture"
                        style="push">
                  </command>
                  <command
                        commandId="com.collins.fmw.cyres.architecture.commands.seL4Transform"
                        id="com.collins.fmw.cyres.menus.editor.resiliency.transformations.seL4Transform"
                        label="Transform for seL4 build"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="com.collins.fmw.cyres.menus.editor.resiliency.proofs"
                     label="Proofs">
               </menu>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.editor.component"
                  label="Component Analysis">
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.SelectImplementation"
                     id="com.collins.fmw.cyres.menus.editor.component.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.collins.fmw.cyres.architecture.commands.VerifyImplementation"
                     id="com.collins.fmw.cyres.menus.editor.component.RunIvaldi"
                     label="Run Ivaldi"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.collins.fmw.cyres.menus.editor.build"
                  label="System Build">
               <command
                     commandId="com.collins.fmw.cyres.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="touch.toolbar"
               label="Touch">
            <command
                  commandId="com.collins.fmw.cyres.architecture.commands.Touch"
                  label="Touch">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.collins.fmw.cyres.architecture.commands.GenerateRequirements"
            name="Generate Requirements">
         <commandParameter
               id="com.collins.fmw.cyres.architecture.commands.GenerateRequirements.tool"
               name="Tool"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.ImportRequirements"
            name="Import Requirements">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.AddAttestationManager"
            name="Add Attestation Manager">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.AddFilter"
            name="Add Filter">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.AddMonitor"
            name="Add Monitor">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.AddIsolator"
            name="Add Isolator">
      </command>
      <command
            id="om.collins.fmw.cyres.architecture.commands.AddSimplex"
            name="Add Simplex Architecture">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.seL4Transform"
            name="Transform for sel4 build">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.ModelAnnotations"
            name="Model Annotations">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.FormalizeRequirement"
            name="Formalize Requirement">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.SelectImplementation"
            name="Select Implementation">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.VerifyImplementation"
            name="Verify Implementation">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.FilterChecker"
            name="Filter Checker">
      </command>
      <command
            id="com.collins.fmw.cyres.architecture.commands.Touch"
            name="Touch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.AddAttestationManagerHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.AddAttestationManager">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.AddFilterHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.AddFilter">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.AddIsolatorHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.AddIsolator">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.AddMonitorHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.AddMonitor">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.AddSimplexHandler"
            commandId="om.collins.fmw.cyres.architecture.commands.AddSimplex">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.ModelAnnotationsHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.ModelAnnotations">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.FormalizeRequirementHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.FormalizeRequirement">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.SelectImplementationHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.SelectImplementation">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.VerifyLegacyImplementationHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.VerifyImplementation">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.ImportRequirementsHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.ImportRequirements">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.GenerateRequirementsHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.GenerateRequirements">
      </handler>
      <handler
            class="com.collins.fmw.cyres.architecture.handlers.TouchHandler"
            commandId="com.collins.fmw.cyres.architecture.commands.Touch">
      </handler>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/CASE_Properties.aadl"
            id="com.collins.fmw.cyres.architecture.aadlcontribution.casepropset">
      </aadlcontribution>
      <aadlcontribution
            file="resources/CASE_Model_Transformations.aadl"
            id="com.collins.fmw.cyres.architecture.aadlcontribution.casemodeltransformations">
      </aadlcontribution>
      <aadlcontribution
            file="resources/CASE_Modeling_Guidelines.aadl"
            id="com.collins.fmw.cyres.architecture.aadlcontribution.casemodelingguidelines">
      </aadlcontribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.collins.fmw.cyres.architecture.preferences.CasePreferencePage"
            id="com.collins.fmw.cyres.architecture.preferences.CasePreferencePage"
            name="CASE">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.collins.fmw.cyres.architecture.preferences.CasePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
