<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="verifyFilter.commands.category"
            name="CASE TA6 Commands">
      </category>
      <command
            categoryId="verifyFilter.commands.category"
            id="verifyFilter.commands.verifyCommand"
            name="Run HOL Proof of Filter">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.collins.fmw.cyres.splat.plugin.SplatHandler"
            commandId="verifyFilter.commands.verifyCommand">
         <enabledWhen>
            <reference
                  definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.collins.fmw.cyres.splat.plugin.SplatHandler"
            commandId="filter_checker.commads.verify">
      </handler>      
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="verifyFilter.toolbar">
            <command
                  commandId="verifyFilter.commands.verifyCommand"
                  icon="icons/gears.png"
                  label="Run Verify Command">
            </command>           
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.collins.fmw.cyres.menus.outline.resiliency.proofs?after=additions">
         <command
               commandId="filter_checker.commads.verify"
               label="SPLAT"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.collins.fmw.cyres.menus.editor.resiliency.proofs?after=additions">
         <command
               commandId="filter_checker.commads.verify"
               label="SPLAT"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.collins.fmw.cyres.menus.menubar.resiliency.proofs?after=additions">
         <command
               commandId="filter_checker.commads.verify"
               label="SPLAT"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.collins.fmw.cyres.architecture.preferences.CasePreferencePage"
            class="com.collins.fmw.cyres.splat.preferences.SplatPreferencePage"
            id="com.collins.fmw.cyres.splat.preferences.SplatPreferencePage"
            name="SPLAT">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.collins.fmw.cyres.splat.preferences.SplatPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
