<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="popup:org.osate.ge.editor.AgeDiagramEditor?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
            name="Add Filter">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
            name="Add Monitor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.AddFilter"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter">
      </handler>
      <handler
            commandId="com.rockwellcollins.atc.darpacase.architecture.CheckSysProp">
      </handler>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/CASE.aadl"
            id="com.rockwellcollins.atc.darpacase.architecture.aadlcontribution">
      </aadlcontribution>
   </extension>

</plugin>
