<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <menu
               id="com.rockwellcollins.atc.darpacase.menus.outline.main"
               label="CASE">
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.outline.requirements"
                  label="Cyber Requirements">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.GenerateRequirements"
                     id="com.rockwellcollins.atc.darpacase.requirements.menus.gearcase"
                     label="GearCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.outline.resiliency"
                  label="Cyber Resiliency">
               <menu
                     id="com.rockwellcollins.atc.darpacase.menus.outline.resiliency.staircase"
                     label="StairCASE">
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.outline.resiliency.staircase.transformations"
                        label="Model Transformations">
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                           label="Add Filter..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRouter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRouter"
                           label="Add Router..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                           label="Add Monitor..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddIsolator"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddIsolator"
                           label="Add Isolator..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRemoteAttestation"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRemoteAttestation"
                           label="Add Remote Attestation..."
                           style="push">
                     </command>
                  </menu>
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.outline.resiliency.staircase.proofs"
                        label="Proofs">
                  </menu>
               </menu>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.outline.component"
                  label="Component Analysis">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.SelectImplementation"
                     id="com.rockwellcollins.atc.darpacase.component.menus.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.VerifyImplementation"
                     label="SuitCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.outline.build"
                  label="Trusted Build">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.rockwellcollins.atc.darpacase.menus.menubar.main"
               label="CASE">
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.menubar.requirements"
                  label="Cyber Requirements">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.GenerateRequirements"
                     id="com.rockwellcollins.atc.darpacase.menus.menubar.requirements.gearcase"
                     label="GearCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.menubar.resiliency"
                  label="Cyber Resiliency">
               <menu
                     id="com.rockwellcollins.atc.darpacase.menus.menubar.resiliency.staircase"
                     label="StairCASE">
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.menubar.resiliency.staircase.transformations"
                        label="Model Transformations">
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                           label="Add Filter..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRouter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRouter"
                           label="Add Router..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                           label="Add Monitor..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddIsolator"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddIsolator"
                           label="Add Isolator..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRemoteAttestation"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRemoteAttestation"
                           label="Add Remote Attestation..."
                           style="push">
                     </command>
                  </menu>
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.menubar.resiliency.staircase.proofs"
                        label="Proofs">
                  </menu>
               </menu>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.menubar.component"
                  label="Component Analysis">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.SelectImplementation"
                     id="com.rockwellcollins.atc.darpacase.architecture.menus.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.VerifyImplementation"
                     id="com.rockwellcollins.atc.darpacase.architecture.menus.VerifyImplementation"
                     label="SuitCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.menubar.build"
                  label="Trusted Build">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="popup:org.osate.ge.editor.AgeDiagramEditor?after=additions">
         <menu
               label="CASE">
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                  label="Add Filter..."
                  style="push">
            </command>
            <command
                  commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                  id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                  label="Add Monitor..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      -->
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               id="com.rockwellcollins.atc.darpacase.menus.editor.main"
               label="CASE">
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.editor.requirements"
                  label="Cyber Requirements">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.GenerateRequirements"
                     id="com.rockwellcollins.atc.darpacase.requirements.menus.gearcase"
                     label="GearCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.editor.resiliency"
                  label="Cyber Resiliency">
               <menu
                     id="com.rockwellcollins.atc.darpacase.menus.editor.resiliency.staircase"
                     label="StairCASE">
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.editor.resiliency.staircase.transformations"
                        label="Model Transformations">
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddFilter"
                           label="Add Filter..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRouter"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRouter"
                           label="Add Router..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddMonitor"
                           label="Add Monitor..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddIsolator"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddIsolator"
                           label="Add Isolator..."
                           style="push">
                     </command>
                     <command
                           commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRemoteAttestation"
                           id="com.rockwellcollins.atc.darpacase.architecture.menus.AddRemoteAttestation"
                           label="Add Remote Attestation..."
                           style="push">
                     </command>
                  </menu>
                  <menu
                        id="com.rockwellcollins.atc.darpacase.menus.editor.resiliency.staircase.proofs"
                        label="Proofs">
                  </menu>
               </menu>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.editor.component"
                  label="Component Analysis">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.SelectImplementation"
                     id="com.rockwellcollins.atc.darpacase.component.menus.SelectImplementation"
                     label="Select Implementation..."
                     style="push">
               </command>
               <command
                     commandId="com.rockwellcollins.atc.darpacase.architecture.commands.VerifyImplementation"
                     label="SuitCASE"
                     style="push">
               </command>
            </menu>
            <menu
                  id="com.rockwellcollins.atc.darpacase.menus.editor.build"
                  label="Trusted Build">
               <command
                     commandId="com.rockwellcollins.atc.darpacase.build.commands.TrustedBuild"
                     label="Build..."
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.GenerateRequirements"
            name="Generate Requirements">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter"
            name="Add Filter">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddRouter"
            name="Add Router">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor"
            name="Add Monitor">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddIsolator"
            name="Add Isolator">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.SelectImplementation"
            name="Select Implementation">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.VerifyImplementation"
            name="Verify Implementation">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.FilterChecker"
            name="Filter Checker">
      </command>
      <command
            id="com.rockwellcollins.atc.darpacase.architecture.commands.AddRemoteAttestation"
            name="Add Remote Attestation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.AddFilter"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddFilter">
      </handler>
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.AddRouter"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddRouter">
      </handler>
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.AddMonitor"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddMonitor">
      </handler>
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.AddIsolator"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.AddIsolator">
      </handler>
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.SelectImplementation"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.SelectImplementation">
      </handler>
      <handler
            class="com.rockwellcollins.atc.darpacase.architecture.handlers.VerifyLegacyImplementation"
            commandId="com.rockwellcollins.atc.darpacase.architecture.commands.VerifyImplementation">
      </handler>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/CASE.aadl"
            id="com.rockwellcollins.atc.darpacase.architecture.aadlcontribution.casepropset">
      </aadlcontribution>
      <aadlcontribution
            file="resources/Model_Transformations.aadl"
            id="com.rockwellcollins.atc.darpacase.architecture.aadlcontribution.modeltransformations">
      </aadlcontribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rockwellcollins.atc.darpacase.architecture.preferences.CasePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.rockwellcollins.atc.darpacase.architecture.preferences.CasePreferencePage"
            id="com.rockwellcollins.atc.darpacase.architecture.preferences.CasePreferencePage"
            name="CASE">
      </page>
   </extension>

</plugin>
