<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">

     <command
           id="com.collins.fmw.cyres.json.commands.translate"
           name="Export to JSON">
     </command>
    
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.osate.ui.menus?after=additions">
            <command
                  commandId="com.collins.fmw.cyres.json.commands.translate"
                  id="com.collins.fmw.cyres.json.menus.translate"
                  mnemonic="s"
                  style="push">
            </command>
           
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.collins.fmw.cyres.json.toolbars.main">
            <command
                  commandId="com.collins.fmw.cyres.json.commands.translate"
                  id="com.collins.fmw.cyres.json.menus.translate"
                  style="push">
            </command>
         
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=osate_begin">

            <command
                  commandId="com.collins.fmw.cyres.json.commands.translate"
                  id="com.collins.fmw.cyres.json.menus.translate"
                  mnemonic="s"
                  style="push">
            </command>
           
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
               commandId="com.collins.fmw.cyres.json.commands.translate"
               id="com.collins.fmw.cyres.json.menus.translate"
               mnemonic="s"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.collins.fmw.cyres.json.plugin.TranslateHandler"
            commandId="com.collins.fmw.cyres.json.commands.translate">
         <enabledWhen>
            <reference
                  definitionId="com.collins.fmw.cyres.json.expressions.eObjectSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.collins.fmw.cyres.json.expressions.eObjectSelected">
         <or>
	         <with
	               variable="selection">
	            <and>
	               <count
	                     value="1">
	               </count>
	               <iterate
	                     ifEmpty="false"
	                     operator="or">
	                  <instanceof
	                        value="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
	                  </instanceof>
	               </iterate>
	            </and>
	         </with>
          <reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
          </reference>
 			<with
                variable="selection">
               <adapt
                     type="org.osate.ge.BusinessObjectSelection">
	               <count
	                     value="1">
	               </count>
	               <iterate
	                     ifEmpty="false"
	                     operator="or">
	                  <instanceof
	                        value="org.eclipse.emf.ecore.EObject">
	                  </instanceof>
	               </iterate>
               </adapt>
          </with>
         </or>
      </definition>
   </extension>


</plugin>
